@use "@fulhaus/react.ui.colors/dist/scss" as color;
.project {
  height: 100vh;
  width: 100vw;
  .dropdown-list-input-wrapper {
    background-color: transparent !important;
    border: none !important;
  }
  .last-child-red > *:last-child {
    color: color.$red !important;
  }
  .dropdown-list-input-options-wrapper {
    width: max-content !important;
  }
  .dropdown-list-input-box-wrapper {
    padding: 0 !important;
  }
  .dropdown-list-input-wrapper {
      width: max-content !important;
  }
  .main-content-wrapper {
    height: calc(100% - 7rem);
  }
}
