.app-side-bar {
  .width-52-important {
    width: 13rem !important;
  }
  .w-500px {
    width: 700px;
  }
  .text-sm-important {
    font-size: 0.875rem !important;
  }
  .dropdown-list-input-box-display-none {
    .dropdown-list-input-box {
      display: none;
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
