.quote-summary-rental {
    .width-12-percent {
        width: 12%;
    }
    .w-6rem-important {
        width: 6rem !important;
    }
    .h-2-5-rem-important {
        height: 2.7rem !important;
    }
    
}