.app-v3-home-page{
    width: 100vw;
    min-height: 100vh;
    a {
        font-family: "Source Sans Pro";
    }
    .mx-8percent {
        margin-left: 8%;
        margin-right: 8%;
    }
    .moret {
        font-family: 'Moret-Book';
    }
    .fui-button {
        font-size: 0.875rem !important;
    }
}