.quote-summary-purchase {
    .w-4rem-important {
        width: 4rem !important;
    }
    .input-gray-disable {
        .input-variant-box {
            background-color: #DEDEDE !important;
        }
    }
    .width-12-percent {
        width: 12%;
    }
    .w-6rem-important {
        width: 6rem !important;
    }
    .h-2-5-rem-important {
        height: 2.7rem !important;
    }
}