@use "@fulhaus/react.ui.colors/dist/scss" as color;
.invite-people {
  padding: 1rem 2rem;
  position: fixed;
  width: 70vw;
  height: 60vh;
  overflow-y: auto;
  .fui-button {
    font-size: 0.875rem !important;
    line-height: 1rem !important;
    line-height: normal !important;
    height: 43px;
  }
  .hide-dropdown-list {
    .dropdown-list-input-wrapper {
      background-color: transparent !important;
      border: none !important;
    }
    .dropdown-list-input-options-wrapper {
      width: max-content !important;
    }
    .dropdown-list-input-box-wrapper {
      padding: 0 !important;
    }
  }
  .last-child-red > *:last-child {
    color: color.$red !important;
  }
}
