.catalogue-filter {
  .dropdown-list-input-overwrite {
    .dropdown-list-input-box-wrapper {
      font-size: 14px !important;
    }
    .dropdown-list-input-options {
        font-size: 14px !important;
    }
  }
  .w-400px {
      width: 400px;
  }
}
