.invite-people {
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #f7efe7;
    width: 70vw;
    height: 50vh;
    overflow-y: auto;
}