.design {
    height: calc(100% - 3.5rem);
    .tab-css-overwrite{
        .tab-wrapper{
            width: 300px !important;
        }
        .tab-item {
            padding: 0.1rem;
        }
    }
}