.appv3-sidebar-animation-enter {
    max-width: 0rem;
    overflow: hidden;
}
.appv3-sidebar-animation-enter-active {
    max-width: 20rem;
    transition: max-width .3s ease;
}
.appv3-sidebar-animation-leave {
    max-width: 20rem;
}
.appv3-sidebar-animation-leave-active {
    max-height: 0;
    transition: max-width .3s ease;
    overflow: hidden;
}