.appv3-sidebar-animation-enter {
    max-width: 3rem;
    overflow: hidden;
}
.appv3-sidebar-animation-enter-active {
    max-width: 420px;
    transition: max-width .2s linear;
}
.appv3-sidebar-animation-exit {
    max-width: 420px !important;
}
.appv3-sidebar-animation-exit-active {
    max-width: 3rem !important;
    transition: max-width 0.2s linear;
    overflow: hidden;
}